# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# IDEs
.idea/
.vscode/
*.suo
*.user

# Sistema operacional
.DS_Store
Thumbs.db

# Pytest / cobertura
.pytest_cache/
.coverage
htmlcov/

# Build / dist
dist/
build/
*.egg-info/
